BOT_TOKEN=

LZT_MARKET_TOKEN=
LZT_BALANCE_ID=

ADMIN_IDS=

SUPPORT_TAG_NAME=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=
PLATEGA_RETURN_URL=
PLATEGA_FAILED_URL=
PAYMENT_WEBHOOK_HOST=
PAYMENT_WEBHOOK_PORT=
PAYMENT_RESERVATION_MINUTES=

DB_DUMP_PASSWORD=
